@charset "UTF-8";
/* Agrgamos archivos de IMPORT para desafio*/
/* Import de archivo _reset.scss */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  /* como se deben calcular las medidas de un elemento, hace que el padinng y borde pasen a fomrar parte del caculo de la caja */
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

/* Import de archivo _variables.scss */
/* Incoporamos listas */
/* Import de archivo _menu.scss */
.header_pp {
  background-color: #5E88FC;
  /* Menu visible cuando hago scroll */
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: space-around;
  height: 80px;
  min-width: 768; }

.logo_pp {
  /* background-color: black; */
  display: flex;
  width: 100%;
  height: 100%; }

.nav-menu_pp {
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  list-style: none; }

.nav_pp {
  /* background-color: orange; */
  display: flex;
  justify-content: space-between;
  max-width: 992px; }

.nav-ul_pp {
  /* background-color: tomato; */
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; }

.nav-ul-li_pp {
  /* background-color: black; */
  text-transform: uppercase;
  width: 150px;
  margin: 10px;
  padding: 15px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }

.nav-link_pp {
  color: white;
  text-decoration: none; }

.nav-ul-li_pp:hover,
.nav-menu-link_active {
  background-color: #1f5d8a;
  text-decoration: none;
  margin: 10px; }

.nav-toggle, .nav-toggle_pp {
  color: white;
  background: none;
  border: none;
  font-size: 45px;
  padding: 0 20px;
  line-height: 50px;
  display: none;
  cursor: pointer; }

#itemMenu {
  text-decoration: none;
  color: white; }

/* FIN MENU ---------------------------------------------------------------- */
/* Incluyendo MIXIN */
/* Agrego componente con parametro */
/* implementamos extend */
/* Incluyendo MIXIN */
/* Agrego componente con parametro */
section .div-hr_1, section .div-hr_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 30px; }

/* adaptamos a NESTING, usamos la forma PADRE-HIJO*/
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 90%; }
  .card-container .card-item {
    /*Hijo*/
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 5px;
    text-align: center;
    transition: all 0.25s;
    font-size: 20px;
    width: 80%; }
    .card-container .card-item img {
      /*Hijo de Hijo*/
      width: 100%;
      height: 220px; }
    .card-container .card-item h4 {
      /*Hijo de Hijo*/
      padding: 10px; }
  .card-container .card-item:hover {
    /*Hijo*/
    transform: translateY(-15px);
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2); }

#card-item-p {
  padding: 0 1rem;
  font-size: 70%;
  font-family: 'Roboto', sans-serif;
  font-style: italic; }

/* ------------------------------------------------------------------- */
/* utilizamos SASS, consepto de NESTING (Padre-Hijo), codigo comentado */
/* ------------------------------------------------------------------- */
/* FIN   CARD de TESTIMONIOS ----------------------------------------------- */
/* KARINA: no se porque debo colocar el @import "base/media"; luego del armado origina de las CARD que yo arme
si lo agrego arriba de todo, no funciona el:
  display: grid;
  grid-template-columns: 1fr 1fr;

    ni tampoco:

  display: grid;
  grid-template-columns: 1fr;

lo debo colocar aqui en la linea 53, despues de la creacion en pagina normal.

porque??????
*/
/* Incluyendo MIXIN */
/* Agrego componente con parametro */
/* Import de archivo _variables.scss */
/* Incoporamos listas */
/* Import de archivo _media.scss */
@media (min-width: 1200px) and (max-width: 1350px) {
  .hero-text2 {
    top: 20% !important; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-text2 {
    top: 2% !important;
    font-size: 13px; }
  #card-item-p {
    padding: 0 1rem;
    font-size: 70%; }
  .dimension-texto {
    font-size: 80%; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-text2 {
    top: 40% !important; }
  .dimension-texto {
    font-size: 73%; }
  .display-no {
    display: none; }
  /* MENU ---------------------------------------------- */
  .header_pp {
    height: 60px; }
  .nav-ul_pp {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #39638d;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0px;
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .nav-ul-li_pp {
    line-height: 30px; }
  .nav-ul-li_pp:hover {
    background-color: #4a86c2;
    width: 30%;
    font-size: 20px;
    transition: 0.2s; }
  .nav-ul-li-link_pp:hover,
  .nav-ul-li-link_active {
    background: none; }
  .nav-toggle_pp {
    display: block;
    cursor: pointer; }
  .nav-menu_visible {
    left: 0; }
  .hero-image {
    font-size: 30px; }
  /* FIN MENU ------------------------------------------ */
  /* Card ---------------------------------------------- */
  .card-container {
    /* 12/07/2022 */
    /* modificamos flex por GRID para el desafio */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1200px;
    min-width: 500px;
    height: 70%; }
    .card-container .card-item {
      /* box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2); */
      margin: 20px; }
      .card-container .card-item img {
        width: 300px;
        height: 250px; }
    .card-container .card-item:hover {
      transform: translateY(-15px);
      box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2); }
  #card-item-p {
    /* background-color: aqua; */
    padding: 0 1rem;
    font-size: 70%; } }

/* FIN Card ------------------------------------------ */
@media (max-width: 768px) {
  .hero-text2 {
    top: 50% !important; }
  /* tama単o de la letra cuando usamos menu hamburguesa en preguntasFrecuentes.html */
  .tama単o_pp {
    font-size: 2vh; }
  /* tama単o de la letra cuando usamos menu hamburguesa en nosotros.html */
  .espacio_pp {
    max-width: 50rem;
    height: 26rem;
    margin: 20px; }
  .display-no {
    display: none; }
  .dimension-texto {
    font-size: 70%; }
  .header_pp {
    height: 60px; }
  .nav-ul_pp {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #39638d;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0px;
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .nav-ul-li_pp {
    line-height: 30px; }
  .nav-ul-li_pp:hover {
    background-color: #4a86c2;
    width: 30%;
    font-size: 20px;
    transition: 0.2s;
    cursor: pointer; }
  #cursor_pointer {
    cursor: pointer; }
  .nav-ul-li-link_pp:hover,
  .nav-ul-li-link_active {
    background: none; }
  .nav-toggle_pp {
    cursor: pointer;
    display: block; }
  .nav-menu_visible {
    left: 0; }
  .hero-image {
    font-size: 30px; }
  .hero-text {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px; }
  .hero-image {
    background-image: url("../images/mountains-g4dc235c11_1920.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%; }
  .div-hr {
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 25px; }
  /* CARD de TESTIMONIOS ----------------------------------------------------- */
  .card-container {
    /* 12/07/2022 */
    /* modificamos flex por GRID para el desafio */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1200px;
    min-width: 500px;
    height: 100%; }
    .card-container .card-item {
      /* box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2); */
      margin: 20px; }
      .card-container .card-item img {
        width: 300px;
        height: 250px; }
    .card-container .card-item:hover {
      transform: translateY(-15px);
      box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2); }
  #card-item-p {
    /* background-color: aqua; */
    padding: 0 1rem;
    font-size: 70%; }
  /* FIN   CARD de TESTIMONIOS ----------------------------------------------- */ }

/* FIN MEDIA --------------------------------------------------------------- */
/* FIN MEDIA --------------------------------------------------------------- */
/* FIN MEDIA --------------------------------------------------------------- */
/* Titulo y Color del h1 de cada pagina para Identificar donde estamos parados*/
.titulo-h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0077c4;
  margin-left: 5%;
  font-weight: 400;
  margin-bottom: 1rem; }

/* UBICACION.HTML -----------------------------*/
.carousel_h5 {
  font-weight: bold;
  font-size: xx-large; }

.carousel_p {
  font-size: x-large; }

.div_marg_padd {
  padding: 40px;
  border: 2px solid black;
  align-items: center; }

.div_1 {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%; }

.div_2 {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  text-align: center; }

/* UBICACION.HTML -----------------------------*/
/* SERVICIOS.HTML --------------------------------*/
.centrado_pp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

/* FIN SERVICIOS.HTML --------------------------------*/
/* CONTACTO.HTML -------------------------------- */
.titulo_contacto {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
  font-weight: bold; }

.bigicon {
  font-size: 50px;
  color: #36A0FF; }

/* FIN   CONTACTO.HTML -------------------------------- */
/* INDEX-html -------------------------------*/
/* Ejemplo de _extend.scss ------------------*/
section .div-hr_1 .hr {
  color: red; }

.div-hr {
  /* background-color: orangered; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 30px; }

.hr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5px;
  width: 50%;
  background-color: black; }

/* codigo para adaptar texto flotante e imagen de monta単a------------------- */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 30px; }

.hero-image {
  background-image: url("../images/mountains-g4dc235c11_1920.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/* Formato para filtro de tarjetas de viajes del INDEX.html ------------*/
.input_filtro {
  border: 3px solid black;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 0px 0px;
  width: 100%;
  text-align: center; }

.cotaniner_filtro {
  background-color: #f7fafd;
  margin-top: 30px;
  max-width: 95%; }

.card_filtro {
  background-color: #f0fce5;
  border-radius: 10px;
  box-shadow: 0 5px 15px black;
  /*    superior, derecho, inferior, izquierdo */
  margin: 20px 20px 20px 20px;
  transition: all 0.25s; }

.card_filtro:hover {
  transform: translateY(-10px); }

.hero-text2 {
  height: 35%;
  position: absolute;
  top: 30%;
  left: 0%;
  color: white; }

.card-title_pp {
  font-size: 16px; }

/* FIN    Formato para filtro de tarjetas de viajes del INDEX.html -----------*/
/* Fin   INDEX-html -------------------------------*/
/* FORMADEPAGO.HTML ------------------------------*/
.formaDePago h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0077c4;
  margin: 0;
  font-weight: 400;
  margin-bottom: 1rem; }

.formaDePago h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #0077c4;
  margin: 0;
  font-weight: 400;
  margin-bottom: 1rem; }

.formaDePago h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #0077c4;
  margin-bottom: 1rem; }

.divFormaDePago {
  /* background-color: whitesmoke; */
  /* Uso de variable en SASS */
  background-color: whitesmoke;
  padding: 20px; }

/* Promos Bancarias ------------------------------------------*/
/* Utilizacion de NESTING para Desafio SASS*/
.ContenedorPromosBancarias {
  background: linear-gradient(90deg, #5E88FC 0%, #0162c5 52%, #0f59a3 100%);
  text-align: center; }
  .ContenedorPromosBancarias .cuadroTarjeta {
    /*Hijo*/
    display: inline-block;
    padding: 1em 0;
    margin: 1rem;
    text-align: center;
    /* Uso de variable en SASS*/
    background-color: whitesmoke;
    width: 230px;
    cursor: pointer; }
    .ContenedorPromosBancarias .cuadroTarjeta .textoCuota {
      /*Hijo de Hijo*/
      color: #0090d1;
      font-size: 20px;
      margin: 0; }
    .ContenedorPromosBancarias .cuadroTarjeta .textoCondiciones {
      color: #0090d1;
      font-size: 12px;
      margin: 0; }
  .ContenedorPromosBancarias .cuadroTarjeta:hover {
    /*Hijo*/
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.divFormaDePagoMedio {
  background-color: #9a9a9a12; }

/* ------------------------------------- */
/* Codigo comentado para desafio de SASS */
/* ------------------------------------- */
/* FIN Promos Bancarias --------------------------------------*/
/* FIN   FORMADEPAGO.HTML ------------------------------*/
/* NOSOTROS.html ----------------------------------------- */
.espacio_pp {
  max-width: 50rem;
  height: 22rem;
  margin: 20px; }

.card-section {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.card-section:hover {
  box-shadow: 1px 1px 20px #d2d2d2; }

.grid-container-nos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 5px;
  grid-template-areas: "area1 area2" "area3 area4" "area5 area6";
  justify-items: center; }

.grid-nos-item1 {
  background: blue;
  text-align: center;
  border: black 2px solid;
  grid-area: area1;
  width: 50%;
  height: 100%; }

.grid-nos-item2 {
  background: #be9999;
  text-align: center;
  border: black 2px solid;
  grid-area: area2;
  width: 100%;
  height: 100%; }

.grid-nos-item3 {
  background: #2cd1ee;
  text-align: center;
  border: black 2px solid;
  grid-area: area3;
  width: 100%;
  height: 100%; }

.grid-nos-item4 {
  background: grey;
  text-align: center;
  border: black 2px solid;
  grid-area: area4;
  width: 50%;
  height: 100%; }

.grid-nos-item5 {
  background: #0965a3;
  text-align: center;
  border: #37be25 5px solid;
  grid-area: area5;
  /* object-fit: cover; */
  width: 50%;
  height: 100%; }

.grid-nos-item6 {
  background: #83e628;
  text-align: center;
  border: #973535 2px solid;
  grid-area: area6;
  width: 100%;
  height: 100%; }

.grid-nos-item1-img {
  width: 100%;
  height: 100%; }

/* FIN Pagina NOSOTROS ------------------------------------- */
